#readme.readme.blob.instapaper_body
  %article.markdown-body.entry-content{:itemprop => "text", style: 'background-color: white; padding: 50px;'}
    %h1{style: 'text-align: center; font-size: 30px;'}
      %a#user-content-data-sharing-agreement.anchor{"aria-hidden" => "true", :href => "#data-sharing-agreement"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Data Sharing Agreement
    %p This Data Sharing Agreement is made on XYZ Date (the "Effective Date") between [PARTY A], [whose principal place of residence is at / a [CORPORATE JURISDICTION] corporation with its principal place of business at [PARTY A ADDRESS]] (the "[PARTY A ABBREVIATION]") and [PARTY B NAME], [whose principal place of residence is at / a [CORPORATE JURISDICTION] corporation with its principal place of business at] [PARTY B ADDRESS]] (the "[PARTY B ABBREVIATION]").
    %p The parties agree as follows (the capitalized terms used in this agreement, in addition to those above, being defined in section [DEFINITIONS]).
    %h2
      %a#user-content-purpose-of-data-sharing.anchor{"aria-hidden" => "true", :href => "#purpose-of-data-sharing"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Purpose of Data Sharing:
    %p The parties are entering into this agreement, and [PARTY A] is granting [PARTY B] access to the Data, for the purpose of internal use (the "Purpose").
    %h2
      %a#user-content-use-of-data.anchor{"aria-hidden" => "true", :href => "#use-of-data"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Use of Data:
    %h3
      %a#user-content-standard-of-care.anchor{"aria-hidden" => "true", :href => "#standard-of-care"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Standard of Care:
    %p [PARTY B] shall exercise at least the same degree of care as it uses with its own data and Confidential Information, but in no event less than reasonable care, to protect the Data from misuse and unauthorized access or disclosure.
    %h3
      %a#user-content-safeguards-around-data.anchor{"aria-hidden" => "true", :href => "#safeguards-around-data"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Safeguards Around Data:
    %p [PARTY B] shall use appropriate safeguards to protect the Data from misuse and unauthorized access or disclosure, including maintaining adequate physical controls and password protections for any server or system on which the Data is stored, ensuring that Data is not stored on any mobile device (for example, a laptop or smartphone) or transmitted electronically unless encrypted, and taking any other measures reasonably necessary to prevent any use or disclosure of the Data other than as allowed under this agreement.
    %h3
      %a#user-content-personal-information.anchor{"aria-hidden" => "true", :href => "#personal-information"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Personal Information:
    %p [PARTY B] will not attempt to identify any Person whose information is contained in any Data or attempt to contact those Persons.
    %h3
      %a#user-content-permitted-disclosure.anchor{"aria-hidden" => "true", :href => "#permitted-disclosure"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Permitted Disclosure:
    %p [PARTY B] may disclose the Data only to the extent necessary, and to its officers, directors, employees, consultants, and representatives on a need-to-know basis.
    %h3
      %a#user-content-required-disclosure.anchor{"aria-hidden" => "true", :href => "#required-disclosure"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Required Disclosure:
    %p If [PARTY B] is compelled by Law to disclose any Data, [PARTY B] shall notify [PARTY A] before disclosing the compelled Data.
    %h3
      %a#user-content-unauthorized-disclosure.anchor{"aria-hidden" => "true", :href => "#unauthorized-disclosure"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Unauthorized Disclosure:
    %ol
      %li Report: Within [three] days of [PARTY B] becoming aware of any unauthorized use or disclosure of the Data, [PARTY B] shall promptly report that unauthorized use or disclosure to [PARTY A].
      %li Cooperation and Mitigation: [PARTY B] shall cooperate with any remediation that [PARTY A], in its discretion, determines is necessary to address any applicable reporting requirements, and mitigate any effects of such unauthorized use or disclosure of the Data, including measures necessary to restore goodwill with stakeholders, including research subjects, collaborators, governmental authorities, and the public.
    %h3
      %a#user-content-agents-and-subcontractors.anchor{"aria-hidden" => "true", :href => "#agents-and-subcontractors"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      Agents and Subcontractors:
    %p [PARTY B] shall ensure that any agents, including subcontractors, to whom it provides the Data agree to the same restrictions and conditions listed in this agreement.
    %h3
      %a#user-content-no-modification-of-data.anchor{"aria-hidden" => "true", :href => "#no-modification-of-data"}>
        %svg.octicon.octicon-link{"aria-hidden" => "true", :height => "16", :version => "1.1", :viewbox => "0 0 16 16", :width => "16"}
          %path{:d => "M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z", "fill-rule" => "evenodd"}
      No Modification of Data:
    %p [PARTY B] shall not copy, decompile, modify or reverse engineer any of the Data, but can perform derivation of the data.
